doctype html  
html  
    head
        title Pug is awesome
    body
        h1 Multilingual Exemple #{listLanguage[1].name}
        div.container
            h5 #{__('Name')} : Le Duc Toan 
            h5 #{__('Age')} : 23
            h5 #{__('Address')} : 528 huynh tan phat
            h5 #{__('Nationality')} : Viet Nam
            h5 #{__('University')} : HCMUTE

ul
    each val in listLanguage
        a(href='/change-lang/'+val.name) #{val.nation} 
        br
